.map-wrapper {
  display: block;
  position: relative;
  width: calc(100vw / 2.5);
  height: calc(100vw / 2.5);
  background-image: url(../../assets/the_island_map.webp);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.point-wrapper {
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  position: absolute;
  inset: 0 100% 100% 0;
}

.point {
  position: absolute;
  background-color: black;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-left: -5px;
  margin-top: -5px;
  border: 1px solid black;
}

  .point:focus {
    background-color: lime;
  }

